
[Unit]
Description=Waybar - Wayland status bar
After=graphical-session.target

[Service]
ExecStart=/usr/bin/waybar
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical-session.target
